__pycache__/
data/
plots/
output/
recon_Cls_bandpower.png
recon_Cls_bandpower_smica.png
recon_Cls.png
recon_Cls_SMICA.png
reconmapsmooth_masked.png
reconmapsmooth_pre_masked.png
reconmapsmooth_pre.png
sphtfunc_recon_masked.png
sphtfunc_recon_masked_pre.png
tsz_mockpower.png
reconmapsmooth.png
recon_mask.npy
eq_35.png
fiducial_reconstructions.png
recon_Cls_bandpower.png
recon_Cls_bandpower_smica.png
recon_Cls.png
recon_Cls_SMICA.png
reconmapsmooth_masked.png
reconmapsmooth_masked_smica.png
reconmapsmooth.png
reconmapsmooth_pre_masked.png
reconmapsmooth_pre.png
reconmapsmooth_smica.png
sphtfunc_recon_masked.png
sphtfunc_recon_masked_pre.png
sphtfunc_recon_masked_smica.png
tsz_mockpower.png
eq14.png
eq_35.png
fiducial_reconstructions.png
monopoles.png
recon_Cls_bandpower.png
recon_Cls_bandpower_smica.png
recon_Cls.png
recon_Cls_SMICA.png
reconmapsmooth_masked.png
reconmapsmooth_masked_smica.png
reconmapsmooth.png
reconmapsmooth_pre_masked.png
reconmapsmooth_pre.png
reconmapsmooth_smica.png
sphtfunc_recon_masked.png
sphtfunc_recon_masked_pre.png
sphtfunc_recon_masked_smica.png
test.png
tsz_mockpower.png
dipole_strengths.png
dipole_strengths_all.png
dipole_strengths_fiducialmask.png
dipole_strengths_fiducial-with-ptsrcmasks.png
dipole_strengths.png
fiducial_reconstructions.png
frequency_reconstructions_all.png
frequency_reconstructions_fiducialmask.png
frequency_reconstructions_fiducial-with-ptsrcmasks.png
frequency_reconstructions_main.png
frequency_reconstructions_reconmask.png
frequency_reconstructions_summed.png
mask.png
monopoles_all.png
monopoles_fiducialmask.png
monopoles_fiducial-with-ptsrcmasks.png
monopoles.png
velocity_window.png
