__pycache__/
alpha_consistency.txt
data/
output/
plots/
TT.png
csm_bins=16.npz
csm_bins=1.npz
csm_bins=2.npz
csm_bins=32.npz
csm_bins=4.npz
csm_bins=8.npz
cvvs.npz
estim_bins=16.npz
estim_bins=1.npz
estim_bins=2.npz
estim_bins=32.npz
estim_bins=4.npz
estim_bins=8.npz
PCA_bins=16.npz
PCA_bins=1.npz
PCA_bins=2.npz
PCA_bins=32.npz
PCA_bins=4.npz
PCA_bins=8.npz
test.npz
217masked.png
Cls.png
comp.png
gauss.png
gg.png
inapinted CLs.png
ratio_lmax=4000.png
ratio_lmax=500.png
show.png
SMICA inpainted.png
smicainput.png
SMICA.png
velocity.png
dchi.npy
integrand.npy
purenoise_recon_cls_premasked_masked.npy
purenoise_recon_cls_premasked.npy
purenoise_recon_cls_unmasked.npy
mask_1024_growth.npy
mask_1024.npy
mask_planckgal70.npy
mask_pl+uw_0.5deapo_1024_grown.npy
mask_pl+uw_0.5deapo_1024.npy
mask_unWISE-binary_N1024_N128thresh0.5.npy
mask_unWISE-binary_N1024_N64thresh0.5.npy
mask_unWISE-binary_N1024.npy
mask_unWISE-binary_N2048.npy
mask_unWISE-binary.npy
mask_unwisethres_planckgal40union.npy
mask_unwisethres_planckgal60union.npy
mask_unWISE_thres_v10.npy
planckgal40.npy
planckgal60.npy
purenoise_recon_cls_masked.npy
integrand.npz
spectra.npz
